<% include ./partials/header.ejs %>
<!-- search UI -->
<div class="min-h-screen bg-sky-blue-500 flex items-center justify-center">
  <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
    <div class="search-header flex items-center">
      <div class="search-header-icon bg-sky-blue-500 p-4">
        <i class="ri-github-fill text-6xl text-black"></i>
      </div>
      <div class="searhc-header-content ml-4">
        <h1 class="text-2xl font-bold mb-1">Github Searcher</h1>
        <p>Search github users, repositories, or issues below</p>
      </div>
    </div>
    <div class="search-body">
      <form class="flex flex-col" method="post" action="/search">
        <!-- First Row: Text Input and Type Menu -->
        <div class="flex items-center mb-4">
          <input
            type="text"
            name="text"
            class="border rounded px-2 py-1 mr-2"
            placeholder="Start typing to search"
          />
          <select class="border rounded px-2 py-1" name="type">
            <option value="users">Users</option>
            <option value="repositories">Repositories</option>
            <option value="issues">Issues</option>
          </select>
        </div>

        <!-- Second Row: Search Button -->
        <div class="flex justify-center">
          <button
            type="submit"
            class="bg-gray-800 text-white rounded px-4 py-2"
          >
            Search
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Content UI -->
<% if (data && data.length > 0) { %>
<div class="min-h-screen flex items-center justify-center">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <% data.forEach(item => { %>
    <div class="bg-white p-4 rounded-md shadow-md">
      <% if (item.type === 'repository') { %>
      <!-- Repository Card -->
      <h2 class="text-xl font-bold mb-2"><%= item.name %></h2>
      <p class="text-gray-600">Author: <%= item.owner.login %></p>
      <p class="text-gray-600">Stars: <%= item.stargazers_count %></p>
      <!-- Add other repository statistics here -->
      <% } else if (item.type === 'user') { %>
      <!-- User Card -->
      <img
        src="<%= item.avatar_url %>"
        alt="Profile Picture"
        class="rounded-full w-16 h-16 mb-2"
      />
      <h2 class="text-xl font-bold mb-2"><%= item.login %></h2>
      <p class="text-gray-600">Location: <%= item.location %></p>
      <!-- Add other user details here -->
      <a
        href="<%= item.html_url %>"
        class="text-blue-500 hover:underline"
        target="_blank"
        >View Profile</a
      >
      <% } %>
    </div>
    <% }); %>
  </div>
</div>
<% } else { %>
<div class="min-h-screen flex items-center justify-center">
  <p>No data available</p>
</div>
<% } %> <% include ./partials/footer.ejs %>
